In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path= r"C:\Users\k00009513\Desktop\Forking_Assignment\1500000 Sales Records(1).csv"
data=pd.read_csv(path)
data.head(5)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,06/04/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,07/02/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/04/2016,3973,47.45,31.79,188518.85,126301.67,62217.18

In [4]:
print(data.columns)

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [11]:
plt.figure(figsize=(10, 6))
df.groupby(df['Order Date'].dt.year)['Total Profit'].sum().plot(kind='line', marker='o', color='green')
plt.title('Total Profit by Date')
plt.xlabel('Order Date')
plt.ylabel('Total Profit')
plt.grid(True)
plt.show()

NameError: name 'df' is not defined

In [ ]:
plt.figure(figsize=(10, 6))
data.groupby(data['Order Date'].dt.year)['Total Profit'].sum().plot(kind='line', marker='o', color='green')
plt.title('Total Profit by Date')
plt.xlabel('Order Date')
plt.ylabel('Total Profit')
plt.grid(True)
plt.show()