Given a list of integers, [1, 2, 3, 4, 5], write a list comprehension that returns a new list where each number is squared, cubed and another one as power of itself.

In [4]:
numbers = [1, 2, 3, 4, 5]
result = [(n**2, n**3, n**n) for n in numbers]
print(result)

[(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]

Write a list comprehension that filters out only the even numbers from the list [10, 15, 20, 25, 30, 35].

In [7]:
numbers1 = [10, 15, 20, 25, 30, 35]
even_numbers = [n for n in numbers if n % 2 == 0]
print(even_numbers)

[2, 4]

Write a list comprehenion/for loop that retuns every 4th vlaue in  range of 1 to 100

In [10]:
fourth_values = [n for n in range(1, 101) if (n - 1) % 4 == 0]
print(fourth_values)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

In [12]:
fourth_values1 = []
for n in range(1, 101, 4): 
    fourth_values.append(n)

print(fourth_values)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97, 1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [15]:
fruits = ["apple", "banana", "cherry"]
uppercase_fruits = [fruit.upper() for fruit in fruits]
print(uppercase_fruits)

['APPLE', 'BANANA', 'CHERRY']

Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [18]:
fruits = ["apple", "banana", "cherry"]
fruit_lengths = {fruit: len(fruit) for fruit in fruits}
print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6}

Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns: 
●	"even" for each even number, and
●	"odd" for each odd number.

In [21]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd_labels = ["even" if n % 2 == 0 else "odd" for n in numbers]
print(even_odd_labels)

['odd', 'even', 'odd', 'even', 'odd', 'even']

Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [24]:
words = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letters = [word[0] for word in words]
print(first_letters)

['J', 'J', 'E', 'B', 'C']

Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first charatcer as value

In [27]:
names = ["John", "Jane", "Erick", "Benard", "Comprehension"]
name_first_char = {name: name[0] for name in names}
print(name_first_char)

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

Convert the outputs of number 1 to 5b as functions and test them

In [30]:
def transform_numbers(numbers):
    return [(n**2, n**3, n**n) for n in numbers]

def filter_even_numbers(numbers):
    return [n for n in numbers if n % 2 == 0]

def every_fourth():
    return [n for n in range(1, 101, 4)]

def convert_to_uppercase(words):
    return [word.upper() for word in words]

def word_lengths(words):
    return {word: len(word) for word in words}

def first_letter_dict(words):
    return {word: word[0] for word in words}

numbers_list = [1, 2, 3, 4, 5]
words_list = ["John", "Jane", "Erick", "Benard", "Comprehension"]

print("1. Squared, Cubed, and Power of Itself:", transform_numbers(numbers_list))
print("2. Even Numbers:", filter_even_numbers([10, 15, 20, 25, 30, 35]))
print("3. Every 4th Value:", every_fourth())
print("4. Uppercase Words:", convert_to_uppercase(words_list))
print("5a. Word Lengths:", word_lengths(words_list))
print("5b. First Letter Mapping:", first_letter_dict(words_list))

1. Squared, Cubed, and Power of Itself: [(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]
2. Even Numbers: [10, 20, 30]
3. Every 4th Value: [1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]
4. Uppercase Words: ['JOHN', 'JANE', 'ERICK', 'BENARD', 'COMPREHENSION']
5a. Word Lengths: {'John': 4, 'Jane': 4, 'Erick': 5, 'Benard': 6, 'Comprehension': 13}
5b. First Letter Mapping: {'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, wight, location, gender) of 10 students.

In [33]:
students_info = {
    "Full Name": [
        "Alice Johnson", "Bob Smith", "Charlie Brown", "David Wilson", "Eve Adams",
        "Frank White", "Grace Lee", "Henry Clark", "Ivy Carter", "Jack Miller"
    ],
    "Age": [20, 22, 19, 21, 23, 22, 20, 24, 19, 21],
    "Weight": [55, 78, 65, 72, 60, 80, 58, 85, 50, 76],  # In kg
    "Location": [
        "New York", "Los Angeles", "Chicago", "Houston", "San Francisco",
        "Miami", "Seattle", "Boston", "Dallas", "Denver"
    ],
    "Gender": ["Female", "Male", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male"]
}

print(students_info)

{'Full Name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown', 'David Wilson', 'Eve Adams', 'Frank White', 'Grace Lee', 'Henry Clark', 'Ivy Carter', 'Jack Miller'], 'Age': [20, 22, 19, 21, 23, 22, 20, 24, 19, 21], 'Weight': [55, 78, 65, 72, 60, 80, 58, 85, 50, 76], 'Location': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'San Francisco', 'Miami', 'Seattle', 'Boston', 'Dallas', 'Denver'], 'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male']}

Convert the output of number six above into pandas dataframes

In [41]:
import pandas as pd

students_info = {
    "Full Name": [
        "Alice Johnson", "Bob Smith", "Charlie Brown", "David Wilson", "Eve Adams",
        "Frank White", "Grace Lee", "Henry Clark", "Ivy Carter", "Jack Miller"
    ],
    "Age": [20, 22, 19, 21, 23, 22, 20, 24, 19, 21],
    "Weight": [55, 78, 65, 72, 60, 80, 58, 85, 50, 76],  # In kg
    "Location": [
        "New York", "Los Angeles", "Chicago", "Houston", "San Francisco",
        "Miami", "Seattle", "Boston", "Dallas", "Denver"
    ],
    "Gender": ["Female", "Male", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male"]
}

df = pd.DataFrame(students_info)

print(df)

       Full Name  Age  Weight       Location  Gender
0  Alice Johnson   20      55       New York  Female
1      Bob Smith   22      78    Los Angeles    Male
2  Charlie Brown   19      65        Chicago    Male
3   David Wilson   21      72        Houston    Male
4      Eve Adams   23      60  San Francisco  Female
5    Frank White   22      80          Miami    Male
6      Grace Lee   20      58        Seattle  Female
7    Henry Clark   24      85         Boston    Male
8     Ivy Carter   19      50         Dallas  Female
9    Jack Miller   21      76         Denver    Male

Now create a new dictionary of key as name of students in number six and value as gender of students using dictionary comprehensions

In [44]:
students_info = {
    "Full Name": [
        "Alice Johnson", "Bob Smith", "Charlie Brown", "David Wilson", "Eve Adams",
        "Frank White", "Grace Lee", "Henry Clark", "Ivy Carter", "Jack Miller"
    ],
    "Gender": ["Female", "Male", "Male", "Male", "Female", "Male", "Female", "Male", "Female", "Male"]
}


name_gender_dict = {students_info["Full Name"][i]: students_info["Gender"][i] for i in range(len(students_info["Full Name"]))}

print(name_gender_dict)

{'Alice Johnson': 'Female', 'Bob Smith': 'Male', 'Charlie Brown': 'Male', 'David Wilson': 'Male', 'Eve Adams': 'Female', 'Frank White': 'Male', 'Grace Lee': 'Female', 'Henry Clark': 'Male', 'Ivy Carter': 'Female', 'Jack Miller': 'Male'}